<?xml version="1.0" ?>

<launch>

	<!-- Map Publishing Node -->
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" />

    <!-- Start RViz with custom view -->
    <node pkg="rviz" type="rviz" name="show_rviz" args="-d $(find tortoisebot_slam)/rviz/mapping.rviz"/>'

</launch>