<?xml version="1.0" ?>

<launch>

  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>

  <!-- SPAWN - Make sure you have simulation already running or your Physical Robot setuped properly -->
  
  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find tortoisebot_slam)/launch/tortoisebot_$(arg slam_methods).launch" />

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find tortoisebot_slam)/rviz/tortoisebot_$(arg slam_methods).rviz"/>

</launch>