<?xml version="1.0" ?>

<launch>
	
	<arg name="joy" default="false"/>
	
	<param command="$(find xacro)/xacro $(find tortoisebot_description)/urdf/tortoisebot.xacro" name="robot_description"/>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	
	<node name="differential" pkg="tortoisebot_firmware" type="differential.py" output="screen"/>
	
	<include file="$(find tortoisebot_firmware)/launch/tortoiselidarS2.launch" />
	
	<include file="$(find raspicam_node)/launch/camera_module_v2_640x480_30fps_autocapture.launch" />
	<!--   <node name="camera" pkg="tortoisebot_camera" type="camera_node.py" /> -->
	
	<group if="$(arg joy)">
		<include file="$(find tortoisebot_firmware)/launch/joy_control.launch" />
	</group>

</launch>
