<?xml version="1.0" ?>
<model>
    <name>docking_station</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Pranshu Tople</name>
        <email>pranshutople@gmail.com</email>
    </author>
    <description>docking station for TortoiseBot</description>
</model>
