<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="map_file" default="sim_map"/>
  <arg name="move_forward_only" default="true"/>
  <arg name="exploration" default="false"/>

  <!-- Map Publishing Node for Exploration-->
  <group if="$(arg exploration)">
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" />
  </group>

  <!-- Map server for Map-based Navigation-->
  <group unless="$(arg exploration)">
    <node pkg="map_server" name="map_server" type="map_server" args="$(find tortoisebot_navigation)/maps/$(arg map_file).yaml"/>
  </group>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find tortoisebot_navigation)/rviz/tortoisebot_navigation.rviz"/>

  <!-- move_base -->
  <include file="$(find tortoisebot_navigation)/launch/sim_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  
  
</launch>
