<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.005"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <!-- Map Publishing Node -->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01" />

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find tortoisebot_navigation)/rviz/tortoisebot_navigation.rviz"/>
  </group>

  <!-- AMCL -->
  <include file="$(find tortoisebot_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg x_pos)"/>
    <arg name="initial_pose_y" value="$(arg y_pos)"/>
    <arg name="initial_pose_a" value="$(arg z_pos)"/>
  </include>

  <!-- move_base -->
  <include file="$(find tortoisebot_navigation)/launch/sim_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>


  
</launch>
